body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    margin: 5% 32% 5% 32%;
    border: 3px solid rgba(0, 0, 0, 0.256);
    border-radius: 12px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

h1 {
    text-align: center;
}

.ua-pp {
    text-align: center;
    margin: 4% 10% 4% 10%;
}

.phone-google {
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.256);
    border-radius: 12px;
    margin: 2% 14% 2% 14%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    cursor: pointer;
}

.phone-google:hover {
    background-color: #54b2ff;
}

.or-line {
    display: flex;
    margin: 5% 10px 5% 10px;
}

hr {
    border: 0;
    width:50%;
    height: 1px;
    background: #00000041;
    margin-left: 10px;
    margin-right: 10px;
}

.signup-form {
    display: block;
    text-align: center;
    margin-bottom: 4%;
}

.email-input {
    margin-left: 8px;
    width: 75%;
    border-radius: 5px;
}

.email-signup {
    display: flex;
    padding-bottom: 2%;
    padding-top: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
    justify-content: center;
    border: none;
}

.continue-btn {
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.continue-btn:hover {
    background-color: #54b2ff;
}