body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    margin: 5% 32% 5% 32%;
    border: 3px solid rgba(0, 0, 0, 0.256);
    border-radius: 12px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

h1 {
    text-align: center;
}

.ua-pp {
    text-align: center;
    margin: 4% 10% 4% 10%;
}

.phone-google {
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.256);
    border-radius: 12px;
    margin: 2% 14% 2% 14%;
}

.or-line {
    display: flex;
    margin: 5% 10px 5% 10px;
}

hr {
    border: 0;
    width:50%;
    height: 1px;
    background: #00000041;
    margin-left: 10px;
    margin-right: 10px;
}